#Heading {
  color: #b3d4fc;
  font-size: 3.5em;

}
.textframe {
  background-color: brown;
  border-color: cadetblue;
  border-style: groove;
  border-width: 10px;
  text-align: center;
}
.pictureframe {
  height: 150px;
  width: 200px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Integral_as_region_under_curve.svg/268px-Integral_as_region_under_curve.svg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border-style: groove;
  border-width: 10px;
  border-color: cadetblue;;
}
